/* Prallax Scrolling Background */
#background {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -2;
   overflow: hidden;
   /* background: linear-gradient(0.25turn, #3f87a6, rgba(255, 255, 255, 0.3), #f69d3c); */
   /* background: linear-gradient(0.25turn, rgba(19, 40, 75, 0.9), rgba(255, 255, 255, 0.3), rgba(255, 95, 3, 0.9)); */
   /* background: linear-gradient(0.50turn, rgba(255, 95, 3, 0.9), rgba(255, 255, 255, 0.25), rgba(19, 40, 75, 0.9)); */
}
